<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>AWS Analyzer</title>
  <meta name="description" content="AWS Analyzer using Django-Angular">
  <meta name="author" content="Zain Uddin">

</head>

<body>
  <h1 > Hi All {{feedback}}</h1>
</body>
</html>